.wrapper
  .chat-side
    .chat-side__header
      .chat-side__header__user
        .chat-side__header__user__name
          = current_user.name
        .chat-side__header__user__font-awesom
          .chat-side__header__user__font-awesom__edit
            = link_to new_group_path do
              %i.fa.fa-edit
          .chat-side__header__user__font-awesom__set
            = link_to edit_user_path(current_user) do
              %i.fa.fa-cog
    .chat-side__groups
      - current_user.groups.each do |group|
        .chat-side__groups__element
          = link_to group_messages_path(group) do
            .chat-side__groups__element__title
              = group.name
            .chat-side__groups__element__comment
              = group.show_last_message
  .chat-main
    .chat-main__header
      .chat-main__header__box
        .chat-main__header__box__name
          チャットのグループ名
        .chat-main__header__box__member
          参加メンバーの名前
      = link_to "https://www.instagram.com/" do
        %div.chat-main__header__edit-btn.chat-main__header__edit-btn__text
          Edit
    .chat-main__messages
      = render @messages
    .chat-main__form
      = form_for [@group, @message] do |f|
        .new_message__left
          = f.text_field :content, placeholder: 'type a message', class: "new_message__left__text" 
          = f.label :image, class: "new_message__left__text__image" do
            %i.fa.fa-image
            = f.file_field :image, class: "new_message__left__text__image__hidden"
        = f.submit 'Send',class: "new_message__right"